.TopicsScreen {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.TopicsScreen ul {
  list-style: none;
  padding-left: 0;
  width: 640px;
  margin: auto;
  border: 1px solid #aaa;
  max-height: calc(100vh - 110px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.TopicsScreen li {
  text-align: left;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}

.TopicsScreen li > div {
  padding-left: 20px;
}

.TopicsScreen li h3 {
  padding: 10px 0 0 0;
  margin: 0;
}

.TopicsScreen li p {
  padding: 10px 0;
  margin: 0;
}

.NextScreen {
  position: fixed;
  top: 50%;
  right: calc((100vw - 640px)/2 - 90px);
  background: url('../../img/right_arrow.png');
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  border: 0;
  cursor: pointer;
  outline: none;
}
