.TopicsScreen {
  padding: 20px;
}

.TopicsScreen ul {
  list-style: none;
  padding-left: 0;
  width: 640px;
  margin: auto;
  border: 1px solid #aaa;
}

.TopicsScreen li {
  text-align: left;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}

.TopicsScreen li > div {
  padding-left: 20px;
}

.TopicsScreen li h3 {
  padding: 10px 0 0 0;
  margin: 0;
}

.TopicsScreen li p {
  padding: 10px 0;
  margin: 0;
}
