.TopicsScreen {
  padding: 20px;
}

.TopicsScreen ul {
  list-style: none;
  padding-left: 0;
  width: 640px;
  margin: auto;
  border: 1px solid #aaa;
}

.TopicsScreen li {
  text-align: left;
  border-bottom: 1px solid #aaa;
  padding-left: 20px;
}
